body {
  font-family: "Poppins", sans-serif;
}

section {
  background-color: rgb(240, 248, 248);
}

.hero {
  background-color: rgb(175, 134, 141);

  height: 100vh;
  color: white;
  font-size: 40px;
}

footer {
  background-color: white;
  color: rgb(87, 51, 122);
  text-align: center;
  padding: 80px;
}
nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
}
ul.show {
  display: block;
}
li {
  text-decoration: none;
}

h1 {
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 50px;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

.subtext {
  font-size: 15px;
  font-weight: 300;
}
.hero-area {
  display: flex;

  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  margin-left: 80px;
  margin-bottom: 200px;
}

.button {
  width: 200px;
  height: 55px;
  border-radius: 30px;
  background-color: blueviolet;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: rgb(174, 174, 190);
}
.button:active {
  background-color: darkcyan;
  color: gray;
}
.socials {
  padding-bottom: 200px;
}

.logo {
  height: 80px;
  margin: 30px;
}
.social {
  margin: 20px;
}
.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}
.sub-section-alternative {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;
}
.headshot {
  width: 300px;
  border-radius: 150px;
}
.headshot-container {
  display: flex;
  align-items: center;
}
.project-card {
  width: 300px;
  height: 500px;
  border: 1px solid black;
  box-shadow: 5px 5px 20px grey;
}
.project-container {
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 1000px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.project-link {
  text-decoration: none;
  color: gray;
}
a {
  text-decoration: none;
  color: blueviolet;
}
.hamburger {
  display: none;
}
.hamburger:focus {
  outline: 0;
}

@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
  }
  ul {
    display: none;
    background-color: rgb(110, 73, 81);
    margin: 0px;
  }
  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: rgb(110, 73, 81);
  }
  .logo {
    display: none;
  }
}
